@charset "utf-8";

.bx-wrapper {
    margin: 0 auto;
    height: 600px;
    box-shadow: none;
}


.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: none;
}

.slide {
    height: 600px;
    /* border: 1px solid red; */


}

.best_product {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.best_product>div {
    padding-bottom: 40px;
    margin: 0px 30px;
}

.bx-wrapper .bx-controls-direction a {
    width: 50px;
    height: 50px;
}

.bx-wrapper .bx-prev {
    left: -60px;
    background: url(../web_img/arrow_left.svg) no-repeat;
    background-size: 50px;
    opacity: 0.3;

}

.bx-wrapper .bx-next {
    right: -60px;
    background: url(../web_img/arrow_right.svg) no-repeat;
    background-size: 50px;
    opacity: 0.3;
    background-position: 0 0;
}


.bx-wrapper .bx-prev:hover {
    opacity: 0.9;
}

.bx-wrapper .bx-next:hover {
    opacity: 0.9;
    background-position: 0 0;
}