@charset "utf-8";

.bx-wrapper {
    margin: 0 auto;
    height: 600px;
    box-shadow: none;
}


.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: none;
}

.slide {
    height: 600px;
    /* border: 1px solid red; */


}

.best_product {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.best_product>div {
    padding-bottom: 40px;
    margin: 0px 30px;
}

.bx-wrapper .bx-prev {
    left: -60px;
}

.bx-wrapper .bx-next {
    right: -60px;
}